In [1]:
import pandas as pd
import numpy as np

## Reading CSV File

In [38]:
df=pd.read_csv('weather_2012.csv')

### Checking Information

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [40]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

### Sampling Random Rows

In [41]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
2275,2012-04-04 19:00:00,6.5,-3.8,48,19,24.1,99.98,Mainly Clear
6438,2012-09-25 06:00:00,12.4,6.1,65,19,48.3,100.89,Mostly Cloudy
1923,2012-03-21 03:00:00,11.4,9.8,90,4,25.0,101.93,Clear
7419,2012-11-05 03:00:00,0.8,-7.7,53,17,25.0,101.29,Cloudy
2291,2012-04-05 11:00:00,4.8,-7.1,42,26,24.1,100.77,Mostly Cloudy

### Renaming and Copying Original Data Set

In [42]:
df_copy=df.copy()

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [44]:
df=df.rename(columns={'Date/Time':'date_time'})
df=df.rename(columns={'Temp (C)':'temp_c'})
df=df.rename(columns={'Dew Point Temp (C)':'dew_point'})
df=df.rename(columns={'Rel Hum (%)':'relative_humidity'})
df=df.rename(columns={'Wind Spd (km/h':'wind_speed'})
df=df.rename(columns={'Visibility (km)':'visibility'})
df=df.rename(columns={'Stn Press (kPa)':'pressure'})
df=df.rename(columns={'Weather':'weather'})

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_c             8784 non-null   float64
 2   dew_point          8784 non-null   float64
 3   relative_humidity  8784 non-null   int64
 4   Wind Spd (km/h)    8784 non-null   int64
 5   visibility         8784 non-null   float64
 6   pressure           8784 non-null   float64
 7   weather            8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

## Getting basic Stats on data

In [46]:
df.groupby(['date_time','temp_c','dew_point','relative_humidity','visibility',
           'pressure','weather']).count()

                                                                                                 Wind Spd (km/h)
date_time           temp_c dew_point relative_humidity visibility pressure weather
2012-01-01 00:00:00 -1.8   -3.9      86                8.0        101.24   Fog                                 1
2012-01-01 01:00:00 -1.8   -3.7      87                8.0        101.24   Fog                                 1
2012-01-01 02:00:00 -1.8   -3.4      89                4.0        101.26   Freezing Drizzle,Fog                1
2012-01-01 03:00:00 -1.5   -3.2      88                4.0        101.27   Freezing Drizzle,Fog                1
2012-01-01 04:00:00 -1.5   -3.3      88                4.8        101.23   Fog                                 1
...                                                                                                          ...
2012-12-31 19:00:00  0.1   -2.7      81                9.7        100.13   Snow                                1
2012-12-31 20:00:00  0.2   -2.4      83                9.7        100.03   Snow                                1
2012-12-31 21:00:00 -0.5   -1.5      93                4.8        99.95    Snow                                1
2012-12-31 22:00:00 -0.2   -1.8      89                9.7        99.91    Snow                                1
2012-12-31 23:00:00  0.0   -2.1      86                11.3       99.89    Snow                                1

[8784 rows x 1 columns]

In [47]:
df.groupby(['date_time','temp_c','dew_point','relative_humidity','visibility',
           'pressure','weather']).median()

                                                                                                 Wind Spd (km/h)
date_time           temp_c dew_point relative_humidity visibility pressure weather
2012-01-01 00:00:00 -1.8   -3.9      86                8.0        101.24   Fog                                 4
2012-01-01 01:00:00 -1.8   -3.7      87                8.0        101.24   Fog                                 4
2012-01-01 02:00:00 -1.8   -3.4      89                4.0        101.26   Freezing Drizzle,Fog                7
2012-01-01 03:00:00 -1.5   -3.2      88                4.0        101.27   Freezing Drizzle,Fog                6
2012-01-01 04:00:00 -1.5   -3.3      88                4.8        101.23   Fog                                 7
...                                                                                                          ...
2012-12-31 19:00:00  0.1   -2.7      81                9.7        100.13   Snow                               30
2012-12-31 20:00:00  0.2   -2.4      83                9.7        100.03   Snow                               24
2012-12-31 21:00:00 -0.5   -1.5      93                4.8        99.95    Snow                               28
2012-12-31 22:00:00 -0.2   -1.8      89                9.7        99.91    Snow                               28
2012-12-31 23:00:00  0.0   -2.1      86                11.3       99.89    Snow                               30

[8784 rows x 1 columns]

## Coverting Temp C to Temp in F

In [48]:
def f(x):
    x = x * 1.8 + 32
    return float(x)

In [49]:
df['temp_f']=df['temp_c'].apply(f)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_c             8784 non-null   float64
 2   dew_point          8784 non-null   float64
 3   relative_humidity  8784 non-null   int64
 4   Wind Spd (km/h)    8784 non-null   int64
 5   visibility         8784 non-null   float64
 6   pressure           8784 non-null   float64
 7   weather            8784 non-null   object
 8   temp_f             8784 non-null   float64
dtypes: float64(5), int64(2), object(2)
memory usage: 617.8+ KB

In [51]:
df.head()

,date_time,temp_c,dew_point,relative_humidity,Wind Spd (km/h),visibility,pressure,weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,28.76
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,28.76
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",28.76
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",29.30
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,29.30

## Using Pandas to show data types

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_c             8784 non-null   float64
 2   dew_point          8784 non-null   float64
 3   relative_humidity  8784 non-null   int64
 4   Wind Spd (km/h)    8784 non-null   int64
 5   visibility         8784 non-null   float64
 6   pressure           8784 non-null   float64
 7   weather            8784 non-null   object
 8   temp_f             8784 non-null   float64
dtypes: float64(5), int64(2), object(2)
memory usage: 617.8+ KB

## Convert Date_Time to actual date/time

In [54]:
df['date_time']=pd.to_datetime(df['date_time'])

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_c             8784 non-null   float64
 2   dew_point          8784 non-null   float64
 3   relative_humidity  8784 non-null   int64
 4   Wind Spd (km/h)    8784 non-null   int64
 5   visibility         8784 non-null   float64
 6   pressure           8784 non-null   float64
 7   weather            8784 non-null   object
 8   temp_f             8784 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

### Weather Designations in Weather column

In [59]:
df['weather'].value_counts()[:10]

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

### Certain Parameter Searching

In [65]:
ideal_spot=df.loc[(df.temp_f>90)& (df.relative_humidity<50)& (df.dew_point>17)]
ideal_spot

,date_time,temp_c,dew_point,relative_humidity,Wind Spd (km/h),visibility,pressure,weather,temp_f
4121,2012-06-20 17:00:00,32.3,20.3,49,15,24.1,100.69,Mainly Clear,90.14
4122,2012-06-20 18:00:00,32.4,19.9,48,17,24.1,100.61,Mostly Cloudy,90.32
4142,2012-06-21 14:00:00,32.6,20.4,49,20,24.1,100.25,Mainly Clear,90.68
4143,2012-06-21 15:00:00,33.0,19.0,44,24,24.1,100.20,Mainly Clear,91.40
4144,2012-06-21 16:00:00,32.5,17.9,42,24,24.1,100.14,Mainly Clear,90.50
5199,2012-08-04 15:00:00,32.8,18.8,44,17,24.1,101.39,Clear,91.04
5200,2012-08-04 16:00:00,32.5,18.5,44,15,24.1,101.34,Clear,90.50
5201,2012-08-04 17:00:00,32.5,19.8,47,13,24.1,101.32,Clear,90.50

## Saving old Data Set

In [66]:
df_copy.to_csv('weather_2012_new.csv', index=False)

In [67]:
df_copy.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog